<?xml version="1.0" ?>
<robot name="mobile_manipulator" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find robots_description)/urdf/mobile_robot_macro.xacro"/>
  <xacro:mobile_robot prefix=""/>
  
  <xacro:include filename="$(find robots_description)/urdf/robot_5r_macro.xacro"/>
  <xacro:robot_5r prefix="arm_"/>
  
  <joint name="base_link_to_arm_base_link" type="fixed">
    <parent link="base_link"/>
    <child link="arm_base_link"/>
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.040"/>
  </joint>
  
</robot>
