<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="parallel_fingers" params="prefix">
		<link name="${prefix}hand_link">
		  <visual>
		    <!--Body-->
		    <origin rpy="0.0 -0.0 0.0" xyz="0.0 0.0 0.0"/>
		    <geometry>
		      <mesh filename="package://robots_description/meshes/Body.dae"/>
		    </geometry>
		  </visual>
		  <collision>
		    <origin rpy="0.0 -0.0 0.0" xyz="0.0 0.0 0.02"/>
		    <geometry>
		      <cylinder length="0.04" radius="0.04"/>
		    </geometry>
		  </collision>
		</link>
		<link name="${prefix}right_finger">
		  <visual>
		    <!--Body001-->
		    <origin rpy="-3.141592653589793 1.5707963267948966 0.0" xyz="0.0 0.0 0.0"/>
		    <geometry>
		      <mesh filename="package://robots_description/meshes/Body001.dae"/>
		    </geometry>
		  </visual>
		  <collision>
		    <origin rpy="-3.141592653589793 1.5707963267948966 0.0" xyz="-3.55271e-18 -0.03 -2.66454e-18"/>
		    <geometry>
		      <box size="0.01 0.06 0.04"/>
		    </geometry>
		  </collision>
		</link>
		<link name="${prefix}left_finger">
		  <visual>
		    <!--Body001-->
		    <origin rpy="3.141592653589793 -1.5707963267948966 0.0" xyz="0.0 0.0 0.0"/>
		    <geometry>
		      <mesh filename="package://robots_description/meshes/Body001.dae"/>
		    </geometry>
		  </visual>
		  <collision>
		    <origin rpy="3.141592653589793 -1.5707963267948966 0.0" xyz="-3.55271e-18 -0.03 2.66454e-18"/>
		    <geometry>
		      <box size="0.01 0.06 0.04"/>
		    </geometry>
		  </collision>
		</link>
		<joint name="${prefix}hand_right_finger" type="prismatic">
		  <parent link="${prefix}hand_link"/>
		  <child link="${prefix}right_finger"/>
		  <origin rpy="1.5707963267948963 2.220446049250313e-16 1.5707963267948963" xyz="0.005 0.0 0.0"/>
		  <axis xyz="0 0 1"/>
		  <limit effort="0.0" lower="0.0" upper="0.0" velocity="0.0"/>
		</joint>
		<joint name="${prefix}hand_left_finger" type="prismatic">
		  <parent link="${prefix}hand_link"/>
		  <child link="${prefix}left_finger"/>
		  <origin rpy="1.5707963267948963 -2.220446049250313e-16 -1.5707963267948963" xyz="-0.005 0.0 0.0"/>
		  <axis xyz="0 0 1"/>
		  <limit effort="0.0" lower="0.0" upper="0.0" velocity="0.0"/>
		  <mimic joint="${prefix}hand_right_finger" multiplier="1.0" offset="0.0"/>
		</joint>
		 </xacro:macro>
		 
</robot>
